@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import 'tailwindcss';

/* @font-face {
    font-family: "Lexend Deca";
    src: url('./LexendDeca-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

@theme {
  --font-lexend-deca: 'Lexend Deca', sans-serif;
}

.panel {
  @apply m-2 rounded-lg bg-stone-900 p-4;
}

select, input[type='text'] {
  @apply my-2 w-full rounded-lg border-2 p-2;
}
