@import "tailwindcss";

@font-face {
    font-family: "Lexend Deca";
    src: url('./LexendDeca-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-lexend-deca: "Lexend Deca", sans-serif; 
}

button {
    @apply hover:opacity-50 bg-stone-700 p-0.5 rounded-md cursor-pointer
}

option {
    @apply text-black py-0
}

label.opt {
    @apply w-full flex justify-center cursor-pointer p-2
}

/* input:in-range {
    @apply w-full h-8 opacity-100 cursor-pointer
} */