{% macro slider(id, name, icon, min, max, value) %}
<div x-data="sliderBox('{{ id }}', '{{ name }}', {{ min }}, {{ max }}, {{ value }})"
  class="flex justify-end gap-2 items-center">
  {% set height = 'h-10'%}
  {% set class = 'from-amber-600 to-sky-200'
  if name == 'temperature' else 'from-cyan-500 to-blue-500' %}

  {{ icon }}

  <!-- Slider input -->
  <input type="range" name="{{ name }}" min="{{ min }}" max="{{ max }}" step="1" x-model="val"
    class="absolute w-10/12 mx-1 opacity-0 {{ height }}">

  <!-- Colored bar -->
  <div class="flex w-full {{ height }} gap-1 bg-linear-to-r {{ class }}">
    <div class="h-full border-r-8 border-r-white" :style="`width: ${percent}%`"></div>
  </div>
</div>
{% endmacro %}

{% macro option(id, name, value, icon) %}
<div class="w-full text-white">
  <input type="radio" id="{{ id }}" name="{{ name }}" value="{{ value }}" class="sr-only peer">
  <label for="{{ id }}"
    class="opt flex justify-center items-center h-14 peer-checked:bg-pink-700 bg-stone-700 rounded-lg">
    {{ icon }}
  </label>
</div>
{% endmacro %}

{% macro tab(id, name, value, icon) %}
<div class="w-full text-white">
  <input type="radio" id="{{ id }}" name="{{ name }}" value="{{ value }}" x-model="{{ name }}" class="sr-only peer">
  <label for="{{ id }}" class="opt flex justify-center items-center h-14 peer-checked:bg-pink-700 ">
    {{ icon }}
  </label>
</div>
{% endmacro %}